body {
  margin: 0;
  padding: 0;

  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  background-color: #f0ddb5;

}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header nav {
  width: 450px;
  display: flex;
  justify-content: space-between;

  text-transform: uppercase;
  font-size: larger;
}

h1,
h2,
h3 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;

  color: #3b3e37;
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

pre {
  color: #9fb39b;
}

strong {
  color: #e19563;
}

mark {
  color: rgb(211, 144, 136);
  background-color: rgb(255, 255, 0);
}

a {
  color: #3b3e37;
  text-decoration: none;
}

div table {
  margin: 60px auto;
}

table {
  border: 2px solid #3b3e37;
  width: 30vh;
  border-collapse: collapse;
}

th {
  border: 3px solid #3b3e37;
  background-color: #d39088;
}

tr, td {
  border: 1px solid #3b3e37;
}

tr td:nth-child(even) {
  background-color: #e19563;
}

dl {
  border: 2px solid #e19563;
  padding: 10px;
}

ol {
  list-style-type: upper-alpha;
}

ul {
  list-style-type: square;
}

div ol, div ul, div dl {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 0 auto;
}

iframe {
  min-width: 200px;
  min-height: 200px;

  max-width: 30%;
  max-height: 30%;
}